<?xml version="1.0"?>
<robot name="my_robot">

    <material name="green">
        <color rgba = "0 0.5 0.1" />
    </material>

    <link name="base_link">
        <visual>
            <geometry>
                <box size="6 3 2" />
            </geometry>
            <origin xyz = "0 0 0" rpy = "0 0 0" />
            <material name="green"/>
        </visual>
    </link>

    <link name="second_link">
        <visual>
            <geometry>
                <box size="6 3 2" />
            </geometry>
            <origin xyz = "0 0 0" rpy = "0 0 0" />
            <material name="green"/>
        </visual>
    </link>

    <joint name="base_second_joint" type="fixed">
        <parent link="base_link" />
        <child link="second_link" />
        <origin xyz="0 0 0" rpy="0 0 0" />
    </joint>

</robot>